body {
  padding: 0;
  margin: 0;
}

html,
body,
#mapid {
  height: 100%;
  width: 100vw;
  font-family: Georgia, serif;
}

.overlay {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 30px;
  right: 50px;
  z-index: 1000;
  color: #ddd;
  text-align: right;
}

.overlay h1 {
  margin: 0;
}

.overlay h3 {
  margin-top: 10px;
}
